
img{
    width: 100px;
    height: 400px;
}
#sidebarEd li {
    list-style-type: none;
    color: rgba(255,255,255,0.22);
    border-bottom-style: solid;
    padding: 10px 10px 10px 0px;
}
#sidebarEd li:hover {
    background-color: white;
}

#sidebarEd.activeEd {
    left: 0px;
    height: 100%;
}


#sidebarEd a {
    text-decoration: none;
    color: white;
}


#sidebarEd a:hover {
    text-decoration: none;
    color:black;

}

#sidebarEd a:active {
    text-decoration: none;
    color: white;
}

#sidebarEd a:visited {
    text-decoration: none;
}

#sidebarEd a {
    color: white;
}

.here {
    font-size: 18pt;
}

.social-linksEd {
    letter-spacing: 15px;
    padding-top: 15%;
    color: white;
}

.contact-info {
    padding-top: 20%;
    color: #c4d8e2 !important;
}

#page-down {
    font-size: 20pt;
    margin: 30px;
    height: 64px;
    width: 64px;
    text-align: center;
    border-style: solid;
    line-height: 64px;
    transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    right: 10px;
    bottom: 0;
}

#sidebarEd a {
    color: white;
}

#sidebarEd li {
    list-style-type: none;
    color: rgba(255,255,255,0.22);
    border-bottom-style: solid;
    padding: 10px 10px 10px 0px;
}

#sidebarEd {
    margin-top: 40px;
    right: -500px;
    background: #1e2833;
    width: 35vh;
    /*text-align: center;*/
    color:white;
    z-index: 10000;
    font-size: 14pt;
    font-family: 'Ubuntu';
    transition: all 400ms linear;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    padding-top: 0px !important;
}

#sidebarEd.activeEd {
    right: 0px;
    height: 100%;
}


#sidebarEd a {
    text-decoration: none;
}

#sidebarEd a:hover {
    text-decoration: none;
}

#sidebarEd a:active {
    text-decoration: none;
    color: white;
}

#sidebarEd a:visited {
    text-decoration: none;
}

#sidebarEd a {
    color: white;
}

.here {
    font-size: 18pt;
}

.social-linksEd {
    letter-spacing: 15px;
    padding-top: 15%;
    color: white;
}

.contact-info {
    padding-top: 20%;
    color: #c4d8e2 !important;
}

.btn-success {
    color: #fff;
    background-color: #214a80;
    border-color: #214a80;
}