.heading{
    color: cornflowerblue;
}

.nav-item{
    margin-right: 45px;
}
#author{
   width: 100px;
}
#contact{
    width: 100px;
}
#search{
    width: 200px;
}
form{
    margin-left: 280px;
    margin-top: 10px;
}
#btn{
    margin-left: 42px;
}

.adminUser{
    background-color: #ffdf7e;
}
.adminEditor{
    background-color: #ffb67e;
}
.adminReviewer{
    background-color: #fd7350;
}
.adminAdmin{
    background-color: #247fcf;
}
